html, body {
  margin: 0;
  padding: 0;
  background-color: white;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

html, body, #root {
  height: 100%;
}
.center-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}