@font-face {
  font-family: 'Montagu_Slab';
  src: url('../assets/Montagu_Slab/MontaguSlab-VariableFont_opsz,wght.ttf') format('truetype');
}

:root {
  --h1-weight: 700;
  --font-color: #212121;
  --font-family: 'Montagu_Slab', sans-serif;
}

h1, h2, h3, h4, li, summary, p {
  font-family: var(--font-family);
  color: var(--font-color);
}

.custom-h1 {
  font-weight: var(--h1-weight);
}