@font-face {
  font-family: 'Open Dyslexic Regular';
  src: url('../assets/open_dyslexic/OpenDyslexic-Regular.otf') format('truetype');
}

:root {
  --font-color: #212121;
  --font-family: 'Open Dyslexic Regular', sans-serif;
  --font-size-h1: 1rem;
}

html {
  font-family: var(--font-family);
  color: var(--font-color);
}

h1 {
  font-size: var(--font-size-h1);
}