/* @font-face {
  font-family: 'Open Dyslexic Regular';
  src: url('../assets/open_dyslexic/OpenDyslexic-Regular.otf') format('truetype');
} */

@font-face {
  font-family: 'Lexend';
  src: url('../assets/lexend/Lexend-VariableFont_wght.ttf') format('truetype');
}

:root {
  --font-color: #212121;
  --background-color: #ececec;
  --font-family: 'Lexend', sans-serif;
  --font-size-h1: 1rem;
}

html {
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--background-color)
}

h1 {
  font-size: var(--font-size-h1);
}